#if ($phone)
#set($title = "重置密码")
#else
#set($title = "忘记密码")
#end


#extends("../../layouts/main.vm")

#block('head_meta')
<link rel="stylesheet" type="text/css" href="/static/styles/pages/find-password.scss">
#end

#block('body')

#parse("../pages/common/_header.vm")

#if ($phone)
#set($type = "2")
#else
#set($type = "3")
#end

<div class="main">
    <div class="form-box updatePass-box">
        <form action="" class="reset-pass-form" method="post">
            #if ($phone)
                <input type="hidden" name="phone" value="${phone}" id="phone">
            #else
                <div class="form-line">
                    <div class="form-val">
                        <input type="tel" placeholder="手机号" class="normal-input" name="phone" id="phone">
                    </div>
                </div>
            #end
            <div class="form-line">
                <div class="form-val">
                    <input type="tel" placeholder="验证码" class="normal-input" name="captcha">
                </div>
                <div class="form-auth js-captcha" data-phone-target="#phone" data-type="$!type">
                    发送验证码
                </div>
            </div>
            <div class="form-line">
                <div class="form-val">
                    <input type="password" placeholder="新密码" class="normal-input" name="password">
                </div>
            </div>
            <div class="form-line">
                <div class="form-val">
                    <input type="password" placeholder="确认新密码" class="normal-input" name="confirmPassword">
                </div>
            </div>
            <div class="form-line">
                <input type="submit" class="btn-submit js-submit-button" value="保存">
            </div>
        </form>
    </div>
</div>
<div class="dialog-warn-tips js-error-tip" style="display: none;">
    <strong></strong>
</div>

#parse("../pages/common/_qcode.vm")


<script src="/static/scripts/libs/jquery-2.1.4.min.js"></script>
<script src="/static/scripts/pages/reset-password/reset-password.js"></script>

#end
#end
