#set($title = "意见反馈")

#extends("../../layouts/main.vm")

#block('head_meta')
<link rel="stylesheet" type="text/css" href="/static/styles/pages/report.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")
<div class="main">
    <div class="form-box">
        <form action="" class="report-form">
            <div class="form-line">
                <div class="form-val">
                    <textarea class="normal-input js-textarea" placeholder="点击输入您的建议或您的吐槽~"></textarea>
                </div>
            </div>
            <div class="form-line form-line-submit">
                <input type="submit" class="btn-submit js-submit-button" value="提 交">
            </div>
        </form>
    </div>
</div>
<div class="service-contacts">
    <div class="title"><span class="text">关于有用分期</span></div>
    <div class="content">客服电话：<strong>400-800-5518</strong><br>客服QQ：<strong>4008005518</strong></div>
</div>
<script src="/static/scripts/libs/jquery-2.1.4.min.js"></script>
<script src="/static/scripts/pages/report/report.js"></script>

#end
#end
