#set($title = "帮助中心")

#extends("../../layouts/main.vm")

#block('head_meta')
<link rel="stylesheet" type="text/css" href="/static/styles/pages/help.scss">
#end

#block('body')
#parse("../pages/common/_header.vm")

<div class="questions">

    #set($questions = [
    ["有用分期背景", "有用分期是美利金融推出的最新消费金融产品，我们的愿景是以金融服务帮助年轻人一起创造美好生活为愿景，成为有温度的互联网金融品牌。"],
    ["有用分期优势", "有用分期有很好的用户体验，具体表现为：用户可通过有用合作商户、与日常生活、社交等多重场景及渠道接触到有用分期的服务，同时可以使用有用App实现进行自助化分期申请，整个申请、审批过程不超过10分钟，极大提高了用户体验。"],
    ["申请分期付款要具备什么条件", "年龄在18-55周岁（18<=申请人的年龄<55），在当前工作岗位连续工作一个月以上，凭本人身份证、银行卡、手机就可直接在线自主申请分期付款业务。"],
    ["申请时需要提供哪些材料", "您只需提供身份证、常用银行卡及手机在线提交简单的个人资料即可申请分期付款。"],
    ["商品都是正品吗？售后服务怎样？", "我们提供的均为全新正品国行手机，可提供机打发票和全国联保，为您的商品质量免除后顾之忧！"],
    ["一个分期申请多久能通过", "您可以在线申请，申请通过后会在60分钟左右电话通知客户申请时提供的手机号。"],
    ["如何确保我能通过分期审核", "资料简单、审批速度快、通过率高是有用分期业务的特色，只要您符合条件，并可以提供相应的证明材料，同时满足所有的要求，您就可以通过分期审核。有用分期拥有世界级的自动审核系统，会对您提供的资料进行综合评估，审核通过后会联系您申请时提供的手机号码。"],
    ["分期协议", "首先，您需用清楚自己借了多少钱（我们将其称为“还款本金”）。其次，您应该知道从我公司借这笔钱分多长时间还清（月供期数），以及您应分期偿还给我们的费用。同时，您办理分期时支付的首付实际为您商品费用中的一部分，首付支付的越多，还款金额则会越少，相应每月还款金额则会越少。"],
    ["如何支付首付", "您可以选择银行代扣、支付宝转账等便捷方式，轻松完成在线支付。"],
    ["有用分期有哪些费用", "待还款本金、利息和服务费用，不同的待还款金额、首付金额及期数，则其利息和服务费用也有所不同。"],
    ["如何还款", "考虑到轻松便捷和按时还款，绝大部分客户会选择银行代扣的方式，通常您只要在还款日提前5天确保代扣卡里有足够的金额即可，我们会在还款日当天进行代扣。当然您还可以选择支付宝转账的方式，也非常方便。"],
    ["为什么个人信用记录很重要", "征信记录又叫个人“经济身份证”，在征信报告将要大面积应用于日常生活的今天，打理好个人征信，将免去很多不必要的麻烦。无意中的忘记还款，可能会在信用状况中留下不良记录，而这些记录的累计，很可能会影响日后的信用卡、贷款申请。"],
    ["是否可以提前还款", "<p>您只需要在还款到期日的15天之前致电客服热线400 800 5518申请提前还款。</p ><p>举个例子：小美每月19日还款，合同分12个月偿还，希望申请提前还款，那么她在每个月4号之前打电话给有用客服人员提出申请。</p >"]
    ])

    #foreach($question in $questions)
        <div class="item">
            <h5 class="heading">
                <span class="icon icon-question-plus-minus"></span>${question[0]}
            </h5>
            <div class="content">
                ${question[1]}
            </div>
        </div>
    #end
</div>


<script src="/static/scripts/libs/jquery-2.1.4.min.js"></script>
<script src="/static/scripts/pages/ucenter/help.js"></script>
<script src="/static/scripts/pages/common/delHeader.js"></script>

#end
#end
